* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(254, 255, 255);
}
#main-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30em;
  width: 15em;
  background: linear-gradient(80deg, rgb(10, 10, 10), #035a66);
  margin-top: 5%;
  margin-left: 40%;
  border-radius: 3%;
  border: 1px solid rgb(7, 7, 7);
  box-shadow: 10px 10px 30px #0e0d0d, -10px -10px 30px #10a6c0;
}
h1 {
  position: absolute;
  top: 20px;
  color: rgb(105, 155, 247);
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  filter: brightness(150%);
}
h1:hover {
  color: rgb(232, 236, 243);
  font-size: 22px;
  text-decoration: underline #070707;
}
img {
  position: absolute;
  height: 170px;
  width: 170px;
  border-radius: 100%;
  top: 70px;
}
img:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px #0e0d0d, -5px -5px 15px #f10cb8;
}
h2 {
  position: absolute;
  font-size: 18px;
  color: rgb(105, 155, 247);
  filter: brightness(150%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h2.name {
  top: 250px;
}
h2.email {
  top: 300px;
}
h2.info {
  top: 350px;
}
h2:hover {
  color: #f9faf9;
  transform: scale(1.1);
  text-decoration: none;
}
div.instagram {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: linear-gradient(90deg, rgb(61, 60, 60), rgb(83, 7, 93));
  top: 400px;
  left: 20px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  padding-top: 6px;
  padding-left: 10px;
}
div.github {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: linear-gradient(90deg, rgb(61, 60, 60), rgb(83, 7, 93));
  top: 400px;
  left: 90px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  padding-top: 6px;
  padding-left: 8px;
}
div.linkedin {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: linear-gradient(90deg, rgb(61, 60, 60), rgb(83, 7, 93));
  top: 400px;
  left: 160px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  padding-top: 6px;
  padding-left: 10px;
}
i {
  color: rgb(17, 177, 240);
  border-radius: 100%;
  background: none;
}
i:hover {
  box-shadow: 2px 2px 8px #0e0d0d, -2px -2px 8px #f10cb8;
}
a {
  text-decoration: none;
}
